body{
	background-image: url('../images/congruent_pentagon.png'); 
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}
p {
	font-size: 22px;
}

#game-div {
	width: 900px;
	height: 600px;
	background-color: rgba(206, 250, 230, 0.6);
	margin: 0 auto;
}

#head-text {
	padding-top: 20px;
	text-align: center;
}

#question-master-div {

}

.clickable {
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 650px;
	padding: 10px 0;
	display: block;
	/*background-color: blue;*/
	border-style: solid;
	border-color: rgba(0,0,0,0);

}

.clickable:hover {
	background-color: rgba(206, 250, 255, 0.8);
	border-style: solid;
	border-color: rgba(255, 200, 255, 0.8);
}

.question-img {
	display: block;
	margin: 0 auto;
	max-height: 260px;
}

.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.start {
	margin-top: 170px;	
	vertical-align: center;
	background-color: rgba(206, 250, 255, 0.7);
	border-style: solid;
	border-color: rgba(255, 200, 255, 0.7);
}
.start:hover{
	background-color: rgba(206, 250, 255, 0.8);
	border-style: solid;
	border-color: rgba(255, 200, 255, 0.8);
}

.inbetween-text {
	margin-top: 180px;
}